.required-field-block .required-icon {
    left:0em;
    right:auto;
}

    /*.required-field-block .required-icon:after {
        border-top: 100px solid #E8E8E8;
        border-right: 100px solid transparent;
    }*/


#toasty.toasty-position-top-right {
    right: auto !important;
    left:20px;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: right;
}

.text-right {
    text-align: left;
}