<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'about.header' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-sm-5">
                <h2>Come together with Adam<sup>&reg;</sup></h2>
                <p>Family Directory Portal</p>
                <p>For support contact:</p>
                <p><span title="Drop me a mail" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:adamsupport@mabushaireh.info">adamsupport@mabushaireh.info</a></p>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <img src="../../assets/images/logo - Inverse.png" style="width:200px;">
            </div>
        </div>
    </div>
</div>


